ClientePediEspeNPlanes/src/conf/xml-resources/web-service-references/EspePlanService/wsdl/localhost_8080/ServidorEspePediV2/EspePlanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidorEspeWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidorEspeWeb/" name="EspePlanService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidorEspeWeb/" schemaLocation="http://localhost:8080/ServidorEspePediV2/EspePlanService?xsd=1"/>
</xsd:schema>
</types>
<message name="Insertar">
<part name="parameters" element="tns:Insertar"/>
</message>
<message name="InsertarResponse">
<part name="parameters" element="tns:InsertarResponse"/>
</message>
<message name="obtenerTipoPlan">
<part name="parameters" element="tns:obtenerTipoPlan"/>
</message>
<message name="obtenerTipoPlanResponse">
<part name="parameters" element="tns:obtenerTipoPlanResponse"/>
</message>
<message name="InsertarTipo">
<part name="parameters" element="tns:InsertarTipo"/>
</message>
<message name="InsertarTipoResponse">
<part name="parameters" element="tns:InsertarTipoResponse"/>
</message>
<message name="modificarIndicadores">
<part name="parameters" element="tns:modificarIndicadores"/>
</message>
<message name="modificarIndicadoresResponse">
<part name="parameters" element="tns:modificarIndicadoresResponse"/>
</message>
<message name="InsertarIndicadores">
<part name="parameters" element="tns:InsertarIndicadores"/>
</message>
<message name="InsertarIndicadoresResponse">
<part name="parameters" element="tns:InsertarIndicadoresResponse"/>
</message>
<message name="eliminarIndicadores">
<part name="parameters" element="tns:eliminarIndicadores"/>
</message>
<message name="eliminarIndicadoresResponse">
<part name="parameters" element="tns:eliminarIndicadoresResponse"/>
</message>
<message name="obtenerPlan">
<part name="parameters" element="tns:obtenerPlan"/>
</message>
<message name="obtenerPlanResponse">
<part name="parameters" element="tns:obtenerPlanResponse"/>
</message>
<message name="obtenerObj">
<part name="parameters" element="tns:obtenerObj"/>
</message>
<message name="obtenerObjResponse">
<part name="parameters" element="tns:obtenerObjResponse"/>
</message>
<message name="buscarIndicadores">
<part name="parameters" element="tns:buscarIndicadores"/>
</message>
<message name="buscarIndicadoresResponse">
<part name="parameters" element="tns:buscarIndicadoresResponse"/>
</message>
<message name="InsertarIndObj">
<part name="parameters" element="tns:InsertarIndObj"/>
</message>
<message name="InsertarIndObjResponse">
<part name="parameters" element="tns:InsertarIndObjResponse"/>
</message>
<message name="ModificarIndObj">
<part name="parameters" element="tns:ModificarIndObj"/>
</message>
<message name="ModificarIndObjResponse">
<part name="parameters" element="tns:ModificarIndObjResponse"/>
</message>
<message name="obtenerIndicadiresObj">
<part name="parameters" element="tns:obtenerIndicadiresObj"/>
</message>
<message name="obtenerIndicadiresObjResponse">
<part name="parameters" element="tns:obtenerIndicadiresObjResponse"/>
</message>
<message name="InsertarAlinear">
<part name="parameters" element="tns:InsertarAlinear"/>
</message>
<message name="InsertarAlinearResponse">
<part name="parameters" element="tns:InsertarAlinearResponse"/>
</message>
<message name="buscarOI">
<part name="parameters" element="tns:buscarOI"/>
</message>
<message name="buscarOIResponse">
<part name="parameters" element="tns:buscarOIResponse"/>
</message>
<message name="obtenerAli">
<part name="parameters" element="tns:obtenerAli"/>
</message>
<message name="obtenerAliResponse">
<part name="parameters" element="tns:obtenerAliResponse"/>
</message>
<message name="eliminarOI">
<part name="parameters" element="tns:eliminarOI"/>
</message>
<message name="eliminarOIResponse">
<part name="parameters" element="tns:eliminarOIResponse"/>
</message>
<message name="modificarPlan">
<part name="parameters" element="tns:modificarPlan"/>
</message>
<message name="modificarPlanResponse">
<part name="parameters" element="tns:modificarPlanResponse"/>
</message>
<message name="buscarObj">
<part name="parameters" element="tns:buscarObj"/>
</message>
<message name="buscarObjResponse">
<part name="parameters" element="tns:buscarObjResponse"/>
</message>
<message name="eliminarObj">
<part name="parameters" element="tns:eliminarObj"/>
</message>
<message name="eliminarObjResponse">
<part name="parameters" element="tns:eliminarObjResponse"/>
</message>
<message name="InsertarPlanN">
<part name="parameters" element="tns:InsertarPlanN"/>
</message>
<message name="InsertarPlanNResponse">
<part name="parameters" element="tns:InsertarPlanNResponse"/>
</message>
<message name="eliminarPlanN">
<part name="parameters" element="tns:eliminarPlanN"/>
</message>
<message name="eliminarPlanNResponse">
<part name="parameters" element="tns:eliminarPlanNResponse"/>
</message>
<message name="obtenerPlanN">
<part name="parameters" element="tns:obtenerPlanN"/>
</message>
<message name="obtenerPlanNResponse">
<part name="parameters" element="tns:obtenerPlanNResponse"/>
</message>
<message name="modificarPlanN">
<part name="parameters" element="tns:modificarPlanN"/>
</message>
<message name="modificarPlanNResponse">
<part name="parameters" element="tns:modificarPlanNResponse"/>
</message>
<message name="ModificarObj">
<part name="parameters" element="tns:ModificarObj"/>
</message>
<message name="ModificarObjResponse">
<part name="parameters" element="tns:ModificarObjResponse"/>
</message>
<message name="buscarPlan">
<part name="parameters" element="tns:buscarPlan"/>
</message>
<message name="buscarPlanResponse">
<part name="parameters" element="tns:buscarPlanResponse"/>
</message>
<message name="eliminarPlan">
<part name="parameters" element="tns:eliminarPlan"/>
</message>
<message name="eliminarPlanResponse">
<part name="parameters" element="tns:eliminarPlanResponse"/>
</message>
<message name="buscarPlanN">
<part name="parameters" element="tns:buscarPlanN"/>
</message>
<message name="buscarPlanNResponse">
<part name="parameters" element="tns:buscarPlanNResponse"/>
</message>
<message name="InsertarObj">
<part name="parameters" element="tns:InsertarObj"/>
</message>
<message name="InsertarObjResponse">
<part name="parameters" element="tns:InsertarObjResponse"/>
</message>
<message name="obtenerI">
<part name="parameters" element="tns:obtenerI"/>
</message>
<message name="obtenerIResponse">
<part name="parameters" element="tns:obtenerIResponse"/>
</message>
<portType name="EspePlan">
<operation name="Insertar">
<input wsam:Action="http://servidorEspeWeb/EspePlan/InsertarRequest" message="tns:Insertar"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/InsertarResponse" message="tns:InsertarResponse"/>
</operation>
<operation name="obtenerTipoPlan">
<input wsam:Action="http://servidorEspeWeb/EspePlan/obtenerTipoPlanRequest" message="tns:obtenerTipoPlan"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/obtenerTipoPlanResponse" message="tns:obtenerTipoPlanResponse"/>
</operation>
<operation name="InsertarTipo">
<input wsam:Action="http://servidorEspeWeb/EspePlan/InsertarTipoRequest" message="tns:InsertarTipo"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/InsertarTipoResponse" message="tns:InsertarTipoResponse"/>
</operation>
<operation name="modificarIndicadores">
<input wsam:Action="http://servidorEspeWeb/EspePlan/modificarIndicadoresRequest" message="tns:modificarIndicadores"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/modificarIndicadoresResponse" message="tns:modificarIndicadoresResponse"/>
</operation>
<operation name="InsertarIndicadores">
<input wsam:Action="http://servidorEspeWeb/EspePlan/InsertarIndicadoresRequest" message="tns:InsertarIndicadores"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/InsertarIndicadoresResponse" message="tns:InsertarIndicadoresResponse"/>
</operation>
<operation name="eliminarIndicadores">
<input wsam:Action="http://servidorEspeWeb/EspePlan/eliminarIndicadoresRequest" message="tns:eliminarIndicadores"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/eliminarIndicadoresResponse" message="tns:eliminarIndicadoresResponse"/>
</operation>
<operation name="obtenerPlan">
<input wsam:Action="http://servidorEspeWeb/EspePlan/obtenerPlanRequest" message="tns:obtenerPlan"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/obtenerPlanResponse" message="tns:obtenerPlanResponse"/>
</operation>
<operation name="obtenerObj">
<input wsam:Action="http://servidorEspeWeb/EspePlan/obtenerObjRequest" message="tns:obtenerObj"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/obtenerObjResponse" message="tns:obtenerObjResponse"/>
</operation>
<operation name="buscarIndicadores">
<input wsam:Action="http://servidorEspeWeb/EspePlan/buscarIndicadoresRequest" message="tns:buscarIndicadores"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/buscarIndicadoresResponse" message="tns:buscarIndicadoresResponse"/>
</operation>
<operation name="InsertarIndObj">
<input wsam:Action="http://servidorEspeWeb/EspePlan/InsertarIndObjRequest" message="tns:InsertarIndObj"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/InsertarIndObjResponse" message="tns:InsertarIndObjResponse"/>
</operation>
<operation name="ModificarIndObj">
<input wsam:Action="http://servidorEspeWeb/EspePlan/ModificarIndObjRequest" message="tns:ModificarIndObj"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/ModificarIndObjResponse" message="tns:ModificarIndObjResponse"/>
</operation>
<operation name="obtenerIndicadiresObj">
<input wsam:Action="http://servidorEspeWeb/EspePlan/obtenerIndicadiresObjRequest" message="tns:obtenerIndicadiresObj"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/obtenerIndicadiresObjResponse" message="tns:obtenerIndicadiresObjResponse"/>
</operation>
<operation name="InsertarAlinear">
<input wsam:Action="http://servidorEspeWeb/EspePlan/InsertarAlinearRequest" message="tns:InsertarAlinear"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/InsertarAlinearResponse" message="tns:InsertarAlinearResponse"/>
</operation>
<operation name="buscarOI">
<input wsam:Action="http://servidorEspeWeb/EspePlan/buscarOIRequest" message="tns:buscarOI"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/buscarOIResponse" message="tns:buscarOIResponse"/>
</operation>
<operation name="obtenerAli">
<input wsam:Action="http://servidorEspeWeb/EspePlan/obtenerAliRequest" message="tns:obtenerAli"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/obtenerAliResponse" message="tns:obtenerAliResponse"/>
</operation>
<operation name="eliminarOI">
<input wsam:Action="http://servidorEspeWeb/EspePlan/eliminarOIRequest" message="tns:eliminarOI"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/eliminarOIResponse" message="tns:eliminarOIResponse"/>
</operation>
<operation name="modificarPlan">
<input wsam:Action="http://servidorEspeWeb/EspePlan/modificarPlanRequest" message="tns:modificarPlan"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/modificarPlanResponse" message="tns:modificarPlanResponse"/>
</operation>
<operation name="buscarObj">
<input wsam:Action="http://servidorEspeWeb/EspePlan/buscarObjRequest" message="tns:buscarObj"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/buscarObjResponse" message="tns:buscarObjResponse"/>
</operation>
<operation name="eliminarObj">
<input wsam:Action="http://servidorEspeWeb/EspePlan/eliminarObjRequest" message="tns:eliminarObj"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/eliminarObjResponse" message="tns:eliminarObjResponse"/>
</operation>
<operation name="InsertarPlanN">
<input wsam:Action="http://servidorEspeWeb/EspePlan/InsertarPlanNRequest" message="tns:InsertarPlanN"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/InsertarPlanNResponse" message="tns:InsertarPlanNResponse"/>
</operation>
<operation name="eliminarPlanN">
<input wsam:Action="http://servidorEspeWeb/EspePlan/eliminarPlanNRequest" message="tns:eliminarPlanN"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/eliminarPlanNResponse" message="tns:eliminarPlanNResponse"/>
</operation>
<operation name="obtenerPlanN">
<input wsam:Action="http://servidorEspeWeb/EspePlan/obtenerPlanNRequest" message="tns:obtenerPlanN"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/obtenerPlanNResponse" message="tns:obtenerPlanNResponse"/>
</operation>
<operation name="modificarPlanN">
<input wsam:Action="http://servidorEspeWeb/EspePlan/modificarPlanNRequest" message="tns:modificarPlanN"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/modificarPlanNResponse" message="tns:modificarPlanNResponse"/>
</operation>
<operation name="ModificarObj">
<input wsam:Action="http://servidorEspeWeb/EspePlan/ModificarObjRequest" message="tns:ModificarObj"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/ModificarObjResponse" message="tns:ModificarObjResponse"/>
</operation>
<operation name="buscarPlan">
<input wsam:Action="http://servidorEspeWeb/EspePlan/buscarPlanRequest" message="tns:buscarPlan"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/buscarPlanResponse" message="tns:buscarPlanResponse"/>
</operation>
<operation name="eliminarPlan">
<input wsam:Action="http://servidorEspeWeb/EspePlan/eliminarPlanRequest" message="tns:eliminarPlan"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/eliminarPlanResponse" message="tns:eliminarPlanResponse"/>
</operation>
<operation name="buscarPlanN">
<input wsam:Action="http://servidorEspeWeb/EspePlan/buscarPlanNRequest" message="tns:buscarPlanN"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/buscarPlanNResponse" message="tns:buscarPlanNResponse"/>
</operation>
<operation name="InsertarObj">
<input wsam:Action="http://servidorEspeWeb/EspePlan/InsertarObjRequest" message="tns:InsertarObj"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/InsertarObjResponse" message="tns:InsertarObjResponse"/>
</operation>
<operation name="obtenerI">
<input wsam:Action="http://servidorEspeWeb/EspePlan/obtenerIRequest" message="tns:obtenerI"/>
<output wsam:Action="http://servidorEspeWeb/EspePlan/obtenerIResponse" message="tns:obtenerIResponse"/>
</operation>
</portType>
<binding name="EspePlanPortBinding" type="tns:EspePlan">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerTipoPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarIndicadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarIndicadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarIndicadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarIndicadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarIndObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarIndObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIndicadiresObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarAlinear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarOI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAli">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarOI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarPlanN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPlanN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPlanN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarPlanN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPlanN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EspePlanService">
<port name="EspePlanPort" binding="tns:EspePlanPortBinding">
<soap:address location="http://localhost:8080/ServidorEspePediV2/EspePlanService"/>
</port>
</service>
</definitions>